.canvas {
	position: relative;
    overflow: hidden;
	background-color: #eee;
	width: 640px;
	height: 480px;	
}

.dot {
    position:absolute;	
	background-color: green;
	width: 20px;
	height: 20px;
}

.red-dot {
    position:absolute;	
	background-color: red;
	width: 20px;
	height: 20px;
}